header
	.header-position
		h1.logo Ag

		nav.site-nav
			ul
				li: a(href="#about") About
				li: a(href="#student") Student
				li: a(href="#interests") Interests
				li: a(href="#projects") Projects
				li: a(href="#skills") Skills
				li: a(href="#blog") Blog
				li: a(href="#notes") Notes
				li: a(href="#contact") Contact

		a(href="mailto:adarsh035@gmail.com").email-link +email me
			